<!DOCTYPE html>
<html>
<head>
    <title>上會贖會-天一汽車貿易有限公司</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="element.css" />
    <link rel="stylesheet" href="index.css?v=3" />
    <link rel="shortcut icon" href="favicon.ico" />
  <style>
    .will_redeem_will_title{height:168px;background: url(images/will_redeem_will_title.png) no-repeat center center #fff;}
    .high-car-text{margin:50px 0px}
    .high-car-text .center{display: flex;}
    .high-car-text .img img{ height: 100%;}
    .high-car-text .text{flex:1;padding-right:30px;padding-left:50px;background-color: #fff;}
    .high-car-text .text .title{font-size: 40px;padding-top:60px;width: 80%;border-bottom: 5px solid #000;padding-bottom:20px;margin-bottom: 20px;}
    .high-car-text .text .content{line-height: 30px;font-size: 16px;}
    .online-table{margin-top:20px}
    .online-table .content{background-color: #d1d1d1;padding: 50px;}
    .online-table .title{text-align: center;font-size: 30px;padding:20px}
    
    .online-table .form{display: flex;flex-wrap: wrap;}
    .online-table .form .box{width: 50%;}
    .online-table .form .item{display: flex;margin:16px 0px}
    .online-table .form .item .label{width:25%;}
    .online-table .form .item .ctr{flex:1;padding-right: 30px;}
    .online-table .form .item .el-checkbox{width: 33.33%;margin-right: 0px;margin:2px 0px}
    .check-group-lbl{display: flex;font-size: 16px;margin-right: 30px;}
    .check-group-lbl .el-checkbox{margin-right: 10px;}
    .online-table .tool{display: flex;justify-content: space-between;padding:20px 0px}
    .online-table .tool > div{margin-right: 30px;}
    .online-table .btn-tel{background-color: #5acf68;border:none;padding:6px 30px;color:#fff;border-radius:30PX ;font-size: 14px;}
    .online-table .btn-tel .ico{text-decoration: middle;margin-right: 5px;}
    .online-table .btn-snd,
    .online-table .btn-reset{border:none;padding:6px 30px;background:#989898;color:#333;}
    .online-table .btn-snd{background: #dc4a00;color:#fff}
    @media screen and (max-width:1074px ) {
        .will_redeem_will_title{
            background-position: -380px center;
        }
    }
    @media screen and (max-width:950px ) {
        .high-car-text .center{
            display: block;
        }
        .high-car-text .img{
            text-align: center;
        }
    }
    @media screen and (max-width:632px ) {
        .high-car-text .center{
            display: block;
        }
        .online-table .content{
            padding:20px
        }
    }
    @media screen and (max-width:632px ) {
        .online-table .form{display: block;}
        .online-table .form .box{width: 100%;}
    }
    @media screen and (max-width:520px ) {
        .high-car-text .img img{width: 100%;height: auto;}
        .online-table .form .item .ctr{margin-right: 0px;}
        .online-table .tool{display: block;text-align: center;}
        .online-table  .btn-tel{margin-bottom: 20px;}
        
    }
    @media screen and (max-width:395px ) {
        .high-car-text .text .title{
            font-size: 30px;
        }
    }
    
  </style>
</head>
<body>
  <div id="app">
    <div class="head">
        <div class="top-ico-message">
       
            <div class="item">
                <i class="ico ico_top_tel"></i>
            </div>
            <div class="item">
                <i class="ico ico_top_what_app"></i>
            </div>
            <div class="item">
                <i class="ico ico_top_we_chat"></i>
            </div>
            <div class="item">
                <i class="ico ico_top_message"></i>
            </div>
            <div class="item">
                <i class="ico ico_top_f"></i>
            </div>
        </div>
        <div class="tool-msg">
            <div class="item">
                <i class="ico ico_green_tel"></i>
            </div>
            <div class="item">
                <i class="ico ico_green_wx"></i>
            </div>
            <div class="item">
                <div class="msg-button">
                    <i class="ico ico_write_mail"></i>聯系我們
                </div>
                
            </div>
        
        </div>
        <div class="center head-item">
            <div class="logo">
                <a class="ico-logo" href=""></a>
            </div>
            <div class="nav" >
                <div class="tool">
                    <a href=""><i class="ico ico-fa"></i></a>
                    <a href=""><i class="ico ico-bir"></i></a>
                </div>
                <div class="item-list">
                    <a href="/">主頁</a> 
                    <a href="all_car_list.html" >所有車盤</a> 
                    <a href="will_redeem_will.html" class="active">上會贖會</a> 
                    <a href="high_car_list.html" >高價收車</a>                                
                    <a href="about_us.html" >關於我們</a>
                </div>
            </div>
        </div>
       
    </div>
    <!-- high car title -->
    <div class="will_redeem_will_title">
    </div>
  
    <!-- high car text -->
    <div class="high-car-text">
        <div class="center">
            <div class="img">
                <img src="images/will_redeem_will_top.png" />
            </div>
            <div class="text">
                <div class="title">
                    天一上會購會
                </div>
                <div class="content">
                    我們提供預先批核購車貸款服務，可以讓買家及早了解自己的可負擔車價範圍，避免出現撻訂的尷尬情況，從而對整個買車流程及相關費用更有預算，買家只需提供基本個人資料即可評估批核之貸款額，助您輕鬆達成買車夢想
                    <div><br /></div>
                    *溫馨提示 *<br />
                    免責聲明：我的汽車有限公司不是獲發牌的放債人，不會提供任何形式的放債貸款，我們只提供免費的上會能力評估，因應申請人提供的資料作為初步評估上會的成功機率、最高借貸額、最長還款年限等，評估結果只能作參考用途，不能作為已審批上會的憑據，成功申請與否的最終審批權仍保留在銀行或財務公司等機構內，我們不會負責評估報告的內容與實際審批結果有偏差時的任何損失及引致法律訴訟、賠償或特定履行。
                </div>
            </div>
        </div>
    </div>

    <!----在線評估表格-->
    <div class="online-table">
        <div class="center">
            <div class="content">
                <div class="title">在線填寫申請入會表格</div>
                <div class="form">
                    <!--left-->
                    <div class="box">
                        
                       
                        <div class="item">
                            <div class="label">審請人姓名 *</div>
                            <div class="ctr">
                                <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">聯系人電話 *</div>
                            <div class="ctr">
                                <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">購買品牌 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">購買型號 *</div>
                            <div class="ctr">
                                <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">製造年份 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">引擎容積/功率 </div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">申請人身份 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">公司成立年份 </div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">申請人/司機年齡 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">駕駛證驗 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                    </div>
                    <!--right-->
                    <div class="box">
                      
                        <div class="item">
                            <div class="label">行駛中港 *</div>
                            <div class="ctr">
                                <el-radio-group v-model="value">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="2">否</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">過往三年索償記錄 *</div>
                            <div class="ctr">
                                <el-radio-group v-model="value">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="2">否</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">無所償折扣(NCD) *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">保險類型 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">所屬行業 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">所屬職位 *</div>
                            <div class="ctr">
                                <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">申請貸款額*</div>
                            <div class="ctr">
                                <el-input v-model="input" placeholder="請輸入內容"></el-input>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">還款期 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">國籍 *</div>
                            <div class="ctr">
                                <el-select v-model="value" placeholder="--請選擇--">
                                    <el-option
                                      v-for="item in options"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                  </el-select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">最近七年破產記錄 *</div>
                            <div class="ctr">
                                <el-radio-group v-model="value">
                                    <el-radio :label="1">是</el-radio>
                                    <el-radio :label="2">否</el-radio>
                                    </el-radio-group>
                            </div>
                        </div>
                       
                        <div class="item">
                            <div class="label">民事索償或欠交咭數記錄 *</div>
                            <div class="ctr">
                                <el-radio-group v-model="value">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="2">否</el-radio>
                                </el-radio-group>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="check-group-lbl">
                    <el-checkbox ></el-checkbox>
                    <div>閣下所輸入的個人資料，代表人已同意我們作回復，發送確認信息及相關聯絡用途，如對我們的服務有任何寶貴意見可於辦公時間致電熱線5112335洽詢 | <a href='' >私隱條例</a></div>
                </div>
                <div class="tool">
                    <button type="button" class="btn-tel"> <i class="ico ico_tel"></i>直接WHATSAPP我們</button>
                    <div>
                        <button class="btn-snd">送出</button>
                        <button class="btn-reset">重设</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!---map--->
    <div class="contact">
        <div class="center">
            <div>
                <div class="map-img" >
                    <img src="images/map.jpg" />
                </div>
            </div>
            <div>
                <div class="contact-info">
                    <div class="title">聯絡我們 </div>
                    <div class="contact-us">聯絡人: 林生</div>
                    <div class="line"><i class="ico ico-tel"></i><span> 電話  : 67022822</span></div>
                    <div class="line"><i class="ico ico_whatapp"></i><span> Whatspp  : 67022822</span></div>
                    <div class="line"><i class="ico ico_fax"></i><span> 傳真: 24798882</span></div>
                    <div class="line"><i class="ico ico_wx"></i><span> WE CHAT ID : 67022822</span></div>
                    <div class="line"><i class="ico ico_msg"></i><span> 電郵 : tom@eddle.com.hk</span></div>
                    <div class="line"><i class="ico ico_home"></i><span> 營業地址 : 元朗屏山坑尾村富田車場（天水圍西線站後面)<br />展銷場及維修部：洪水橋青山公路和平新村(德國餐廳旁)</span></div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom-->
    <div class="footer">
        <div class="center">
            <div>
                <div class="item"><i class="el-icon-phone"></i><span>67022822</span></div>
                <div class="item"><i class="el-icon-printer"></i><span>67022822</span></div>
                <div class="item"><i class="el-icon-message"></i><span>67022822</span></div>
            </div>
            <div>
                Power by Excellent Medial Limited
            </div>
        </div>
    </div>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="vue.js"></script>
  <!-- import JavaScript -->
  <script src="element.js"></script>
  <script src="high_car_list.js"></script>

</html>